Repository Hiram-Wong/ZyPlayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, stylelint-fix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint-fix
        name: ESLint fix
        language: system
        entry: pnpm eslint --fix
        files: '\.(js|jsx|ts|tsx|cjs|mjs|cts|mts)$'
        pass_filenames: true

      - id: stylelint-fix
        name: Stylelint fix (CSS/SCSS/LESS/Vue/HTML)
        language: system
        entry: pnpm stylelint --fix
        files: '\.(css|scss|less|vue|html)$'
        pass_filenames: true

docs: update changelog
  CHANGELOG.md
Due: none

feat(release): add platform input for release workflow and adjust OS matrix based on input
  .github/workflows/release.yml
Due: none

fix(build): pkg name miss date
  .github/workflows/nightly-build.yml
Due: none

chore(git): update git ignore config
  .gitignore
  auto-imports.d.ts
  components.d.ts
  src/renderer/auto-imports.d.ts
  src/renderer/components.d.ts
Due: eslint-fix

fix(ui): style disproportionate
  src/renderer/src/style/base.less
Due: stylelint-fix

refactor(tray/menu): adjust the call method
  src/main/index.ts
  src/main/ipc.ts
  src/main/services/MenuService.ts
  src/main/services/TrayService.ts
Due: eslint-fix

Auto-translate README and Wiki
  README.md
Due: none

fix(tray): linux create double same tray
  src/main/services/TrayService.ts
Due: eslint-fix

docs: update readme
  README.md
Due: none

docs: update develop
  docs/Develop.md
Due: none

docs: update data change info
  README.md
Due: none

fix(build): no mac checksums generated
  electron-builder.yml
Due: none

docs: update rpm package installation failure handling
  README.md
Due: none

fix(film): t3_py adapter passing parameters
  resources/t3PyBase/base/localProxy.py
  resources/t3PyBase/base/spider copy.py
  resources/t3PyBase/base/spider.py
  resources/t3PyBase/main.py
Due: none

chore(git): update git ignore config
  .gitignore
Due: none

chore: release 3.4.1-rc11
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: none

fix(lab): editor module t3_py adapter log not output
  src/renderer/src/pages/lab/components/edit/utils/log.ts
Due: eslint-fix

build(bin): ffmpeg&ffprobe version
  resources/scripts/install-ffmpeg_4.js
  resources/scripts/install-ffprobe.js
  resources/scripts/install-ffprobe_5.js
Due: eslint-fix

fix(ffmpeg): input options non-compliance
  src/main/services/FFmpegService.ts
Due: eslint-fix

chore: release 3.4.1-rc12
  package.json
  pnpm-lock.yaml
Due: none

docs: upload loong dev
  docs/Loong_Electron.md
Due: none

chore: dev default config
  .stylelintrc.yml
  RELEASE.md
  electron-builder.yml
  package.json
  pnpm-lock.yaml
  stylelint.config.js
Due: eslint-fix

style(ts): format
  package.json
  src/renderer/src/pages/film/components/DialogDetail.vue
  src/renderer/src/pages/film/index.vue
  src/renderer/src/pages/lab/components/edit/index.vue
  src/renderer/src/pages/live/index.vue
  src/renderer/src/pages/moment/components/history/index.vue
  src/renderer/src/pages/moment/components/star/index.vue
  src/renderer/src/pages/parse/index.vue
  src/renderer/src/pages/player/components/AsideFilm.vue
  src/renderer/src/pages/player/components/AsideLive.vue
  src/renderer/src/pages/player/components/AsideParse.vue
  src/renderer/src/pages/setting/components/film/index.vue
  src/renderer/src/pages/setting/components/live/index.vue
  src/renderer/src/pages/setting/components/parse/index.vue
Due: stylelint-fix

fix(db): required database fields
  src/main/services/DbService/migrations/migrate-3_3_1.ts
  src/main/services/DbService/migrations/migrate-3_4_1.ts
  src/main/services/DbService/schemas/analyze.ts
  src/main/services/DbService/schemas/channel.ts
  src/main/services/DbService/schemas/iptv.ts
  src/main/services/DbService/schemas/plugin.ts
  src/main/services/DbService/schemas/site.ts
  src/main/services/PluginService.ts
Due: eslint-fix

fix(git): git hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .pre-commit-config.yaml
Due: none

docs: update app screenshot
  README.md
  docs/assets/images/app-film.png
  docs/assets/images/app-history.png
  docs/assets/images/app-live.png
  docs/assets/images/app-play.png
Due: none

build(pkg): cve-2026-25128
  package.json
  pnpm-lock.yaml
Due: none

docs: update markdown
  README.md
Due: none

refactor: film t3 drpy adapter
  src/main/services/FastifyService/routes/v1/film/cms/adapter/t3Drpy/worker.ts
Due: eslint-fix

feat: film t3 catopen adapter
  CHANGELOG.md
  electron.vite.config.ts
  eslint.config.js
  packages/shared/config/film.ts
  packages/shared/locales/lang/en-US/pages/film.ts
  packages/shared/locales/lang/zh-CN/pages/film.ts
  packages/shared/locales/lang/zh-TW/pages/film.ts
  resources/t3Catopen/cat.js
  resources/t3Catopen/cheerio.min.js
  resources/t3Catopen/crypto-js.js
  resources/t3Catopen/http.js
  resources/t3Catopen/mod.js
  resources/t3Catopen/similarity.js
  resources/t3Catopen/sortName.js
  resources/t3Catopen/spider.js
  src/main/services/FastifyService/routes/v1/film/cms/adapter/index.ts
  src/main/services/FastifyService/routes/v1/film/cms/adapter/t3Catopen/index.ts
  src/main/services/FastifyService/routes/v1/film/cms/adapter/t3Catopen/inject.ts
  src/main/services/FastifyService/routes/v1/film/cms/adapter/t3Catopen/worker.ts
  src/main/services/FastifyService/routes/v1/film/cms/utils/cache.ts
  src/renderer/src/pages/lab/components/edit/index.vue
  src/renderer/src/pages/lab/components/edit/utils/config.ts
  src/renderer/src/pages/lab/components/edit/utils/log.ts
  src/renderer/src/pages/setting/components/film/components/DialogForm.vue
  src/renderer/src/pages/setting/components/film/index.vue
Due: eslint-fix, stylelint-fix

feat: crypto support md5X aesX desX rsaX
  packages/shared/modules/crypto/encapsulation.ts
Due: eslint-fix

chore: release 3.4.1-rc13
  package.json
Due: none

fix: lab-edit catopen adapter init error
  src/renderer/src/pages/lab/components/edit/utils/config.ts
Due: eslint-fix
